/*.inner {*/
/*    width: 100%;*/
/*    margin-bottom: 100px;*/
/*    background-color: #fff;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/

inner {
    width: 1200px;
    /*height: 1500px;*/
    background-color: red;
    margin: auto;
    display: flex;
}

inner .poster-right{
    width: 400px;
    background-color: lightgray;
}

.inner .regist-inner {
    /* border: 1px solid black; */
    width: 1200px;
    margin: auto;
    background-color: #f6f6f6;
}

.input-group-text {
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inner .regist-inner .register {
    width: 100%;
    margin: auto;
    padding: 25px;
}

.form-check{
    padding-top: 15px;
    padding-left: 20px;
    width: 1200px;
    height: 70px;
    background-color: lightgray;
}

.form-check2{
    width: 1200px;
    height: 10px;
 background-color: white;
}

.metadata-group .input-group .form-control {
    width: 800px;
    height: 40px;
}

.metadata-group .input-group .form-control#record_description {
    width: 800px;
    height: 400px;
}

.inner .regist-inner .register .button-group {

    display: flex;
    justify-content: flex-end;
}

.inner .regist-inner .register .button-group .btn {
    width: 80px;
    height: 40px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.inner .box1 .clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 1200px;
    background-image: url(../image/background-image_3.png);
    z-index: -1;
    margin: auto;
}

/* HEADER */
.logo-line {
    height: 100px;
    width: 1200px;
    margin: auto;
    /* background-color: #EDEDED; */
    /* position: relative; */
    display: flex;

}

.container-fluid .d-flex {
    width: 600px;
    padding: 20px;
    margin: auto;
}

.container-fluid .btn-outline-success {
    width: 100px;
    color: black;
    border-color: black;
}

.logo-line .logo {
    margin-top: 25px;
    position: absolute;
    width: 150px;
    display: flex;

}

.logo-line .application-name {
    /* margin-left: 150px; */
    height: 200px;
    width: 750px;
    font-size: 40px;
    padding: 30px 30px 0px 0px;

}

.logo-line .application-name p {

    height: 200px;
    /* width: 1200px; */
    margin-left: 200px;
}

.logo-line .login {
    padding: 50px 30px 0px 300px;
}

.logo-line .login a {
    font-size: 35px;
    height: 100px;
    width: 150px;
    /* margin-left: 1050px; */
    color: black;
    justify-content: flex-end;
}

.menu-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 1200px;
    margin: auto;
    margin-bottom: 10px;
    /* background-color: #EDEDED; */
}

.menu-group .menu {
    width: 150px;
    font-size: 20px;
    cursor: pointer;
}

.menu-group .menu:first-child {
    width: 150px;
    font-size: 20px;
    margin-left: 750px;
}

.menu-group .menu a {
    color: black;
}

/* CONTENT */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group-prepend {
    width: 100%;
}

/* FOOTER */
footer {
    margin: auto;
    width: 1200px;
    background-image: url(../image/background-image_3.png);
    z-index: -1;
}

.footer-logo-group {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.footer-logo-group .footer-logo {
    /* background-color: #fff; */
    margin: 0px 20px 0px 20px;
}

.footer-logo-group .footer-logo span {
    color: black;
}

.footer-description {
    border-top: 2px solid black;
    width: 1200px;
    height: 200px;
    display: flex;
    margin: auto;
    font-size: 25px;
}

.footer-description .mylogo {
    margin-top: 10px;
}

.footer-description .description {
    justify-content: center;
    margin-top: 10px;
    margin-left: 120px;
}

.footer-description .between {
    width: 100px;
    height: 100%;
}

.footer-description .description2 {
    justify-content: center;
    margin-top: 10px;
}

.collapse {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.collapse .nav-link {
    font-size: 25px;
    margin: 0 30px;
}

/*기록물 목록 조회*/
.container {
    width: 1200px;
    margin: 0 auto;
}

.container .inner .list-inner {
    width: 100%;
    margin: auto;
    background-color: #fff;
}


.inner .list-inner .search-group .form-inline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.table thead th {
    text-align: center;
}

.image-section img {
    width: 800px;
    height: auto;
}

/*파일 업로드시 나타나는 이미지 썸네일 공간*/
.upload-board {
    display: none;
    width: 800px;
    padding: 20px;
    background-color: #eeee;
}

.upload-board .upload-thumb {
    width: 400px;
    margin: auto;
}

.upload-board .button-group .uploadfile-del {
    width: 60px;
    height: 40px;
    margin-left: 10px;
    border: 1px solid black;
}

.upload-board .button-group .additional {
    /* background-color: #EFEFEF; */
    border: 1px solid black;
    width: 60px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 3px 6px 1px 6px;
    margin: 0px;
    cursor: pointer;
}

.upload-board .thumb-box {
    display: flex;
    overflow: auto;
}