/*.inner {*/
/*    width: 100%;*/
/*    margin-bottom: 100px;*/
/*    background-color: #fff;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/

inner {
    width: 1200px;
    /*height: 1500px;*/
    margin: auto;
    display: flex;
}

.poster-right {
    width: 400px;
    background-color: #efefef
}

.poster-right h2{
    font-size: 30px;
    margin-top: 29px;
    margin-left: 120px;
}

.table {
    text-align: center;
    margin-top: 30px;
    font-size: 11px;
}

.inner .regist-inner {
    /* border: 1px solid black; */
    width: 1200px;
    margin: auto;
    background-color: #f6f6f6;
}

.input-group-text {
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inner .regist-inner .register {
    width: 100%;
    margin: auto;
    padding: 25px;
}

.form-check {
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
    width: 1150px;
    height: 70px;
    background-color: lightgray;
}

.form-check span{
    padding-left: 10px;
}

.form-check .form-check-input{
    margin-left: 70%;
}

.form-check .form-check-label{
    margin-left: 73%;
}

#exampleRadios1 .form-check-input {
    padding-left: 20px;
}

.metadata-group .input-group .form-control {
    width: 800px;
    height: 40px;
}

.metadata-group .input-group .form-control#record_description {
    width: 800px;
    height: 400px;
}

.inner .regist-inner .register .button-group {
    display: flex;
    justify-content: flex-end;
}

.inner .regist-inner .register .button-group .btn {
    width: 80px;
    height: 40px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.inner .box1 .clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 1200px;
    background-image: url(../image/background-image_3.png);
    z-index: -1;
    margin: auto;
}

/* HEADER */
.logo-line {
    height: 50px;
    width: 1200px;
    margin: auto;
    /* background-color: #EDEDED; */
    /* position: relative; */
    display: flex;

}

.container-fluid .d-flex {
    width: 600px;
    padding: 20px;
    margin: auto;
}

/* .container-fluid .btn-outline-success {
    width: 100px;
    color: black;
    border-color: black;
} */

.logo-line .logo {
    margin-top: 10px;
    position: absolute;
    width: 150px;
    display: flex;

}

.application-name {
    height: 100px;
    width: 300px;
    font-size: 40px;
    padding: 25px 0px 0px 0px;
    margin-left: 200px;
}

.login {
    padding: 15px 0px 0px 395px;
    font-size: 35px;
    text-decoration: none;
}

.login a {
    color: black;
}

.login a:hover {
    text-decoration: none;
    font-size: 110%;
    height: 100px;
    width: 150px;
    /* margin-left: 1050px; */
    color: black;
    justify-content: flex-end;
}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1 {
    margin-left: 25%;
    margin-bottom: 10px;
    padding: 5%;
    /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); */
}

.login-form-1 h3 {
    text-align: center;
    color: #333;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.menu-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 1200px;
    /* margin-left: px; */
    margin-bottom: 10px;
    /* background-color: #EDEDED; */
}

.row {
    width: 1200px;
    height: 500px;

}

.menu-group .menu {
    width: 150px;
    font-size: 20px;
    cursor: pointer;
}

.menu-group .menu:first-child {
    width: 150px;
    font-size: 20px;
    margin-left: 700px;
}

.menu-group .menu a {
    color: black;
}

/* CONTENT */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group-prepend {
    width: 100%;
}

/* FOOTER */
footer {
    margin: auto;
    width: 1200px;
    background-image: url(../image/background-image_3.png);
    z-index: -1;
}

.footer-logo-group {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}


.footer-description {
    border-top: 2px solid black;
    width: 1200px;
    height: 150px;
    display: flex;
    margin-top: 10px;
    font-size: 20px;
}

.footer-description .mylogo {
    display: flex;
    width: 30%;
    height: 30%;
    margin-top: 30px;
    margin-left: 20px;
}

.footer-description .description {
    width: 35%;
    justify-content: center;
    margin-top: 20px;
    margin-left: 50px;
}

.footer-description .between {
    width: 30px;
    height: 100%;
}

.footer-description .description2 {
    width: 50%;
    /* justify-content: center; */
    margin-top: 20px;
    margin-left: 5px;

}

.collapse {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.collapse .nav-link {
    font-size: 25px;
    margin: 0 30px;
}

/*기록물 목록 조회*/
.container {
    width: 1200px;
    margin: 0 auto;
}

.container .inner .list-inner {
    width: 100%;
    margin: auto;
    background-color: #fff;
}


.inner .list-inner .search-group .form-inline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.table thead th {
    text-align: center;
}

.image-section img {
    width: 800px;
    height: auto;
}

/*파일 업로드시 나타나는 이미지 썸네일 공간*/
.upload-board {
    margin-bottom: 10px;
    display: none;
    width: 1150px;
    padding: 20px;
    background-color: #eeee;
}

.upload-thumb {
    width: 400px;
    margin: auto;
}

.button-group .uploadfile-del {
    width: 60px;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}

.upload-board .button-group .additional {
    /* background-color: #EFEFEF; */
    border: 1px solid black;
    width: 60px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 3px 6px 1px 6px;
    margin: 0px;
    cursor: pointer;
}

.upload-board .thumb-box {
    border-top: 1px solid black;
    display: flex;
    overflow: auto;
}