.inner {
    width: 80%;
    height: 800px;
    background-color: #fff;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* HEADER */
.logo-line {
    height: 100px;
    width: auto;
}

.logo-line .logo {
    height: 100px;
    width: 120px;
}

.banner {
    height: 600px;
}

.menu-group {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.menu-group .menu {
    background-color: #fff;
    margin: 0px 100px 0px 20px;
}

/* CONTENT */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1 li {
    width: 450px;
    height: 350px;
    text-align: center;
    line-height: 50px;
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}

.box1,
.box2 {
    position: relative
}

.box1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.box2 li {
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 50px;
    float: left;
    margin-top: 150px;
    margin-left: 20px;
}

.box2 {
    position: absolute;
    left: 22%;
    margin-top: 300px;
}

.text_box h2,
h3 {
    font-size: 17px;
    color: #111;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

/* FOOTER */
.footer-logo-group {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.footer-logo-group .footer-logo {
    background-color: #fff;
    margin: 0px 20px 0px 20px;
}

.footer-description {
    border-top: 1px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
}

.footer-description .description {
    margin-top: 10px;
}

.footer-description .description2 {
    margin-top: 10px;
}